#components-layout-demo-fixed .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.site-layout .site-layout-background {
    background: #fff;
}

#header {
    .login-status {
        margin-left: 20px;
    }

    .reg-status {
        float: right;
    }
}


#order-list {
    .list {
        padding-bottom: 20px;

        .create-date {
            text-align: left;
            font-size: 12px;
        }

        .price {
            float: right;
            font-weight: bold;
            font-size: 14px;
        }

        .content {
            font-size: 16px;
        }
    }
}
